<style>
  .search-btn{
    background-color:#fe424d ;
    color: #fff;
    border-radius: 20px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color:#fe424d ;
    color: #fff;
  }
  .search-btn i{
    margin-right: 0.5 rem;
    display: inline;
  }
  .search-inp{
    border-radius: 25px; 
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
  
  
  .booking-btn{
    background-color:#fe424d ;
   
    border-radius:20px ;
    margin-left: 25rem;
 }

  .booking-btn:hover{
    background-color:#fe424d ;
    color: #fff;
   
  }

</style>



<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-link" href="/listings">Explore</a>
          
         </div>
         <div class="navbar-nav ms-auto">
          

            <form action="/listings/search" method="GET" class="d-flex" role="search">
              <input type="text" name="query"   class="form-control me-2 search-inp" type="search"  placeholder="Search listings..." required /  >
              <button class="btn search-btn" type="submit">  <i class="fa-solid fa-magnifying-glass"></i> Search</button>
          </form>

          </form>
          <a href="/bookings" class="btn booking-btn">My Bookings</a>
         </div>

       
       
         <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Add your home</a>
            <%  if(!currUser){ %> 
              <a class="nav-link "  href="/signup"><b>Sign Up</b></a>
              <a class="nav-link" href="/login"><b>Log in</b></a>
             <% } %> 
           <%  if(currUser){ %> 
             <a class="nav-link" href="/logout"><b>Log out</b></a>
            <% } %> 
         </div>
      </div>
    </div>
  </nav>



<script>
  async function searchListings() {
    let query = document.getElementById("searchInput").value;

    let response = await fetch(`/listings/search?query=${query}`);
    let listings = await response.json();

    let resultsDiv = document.getElementById("searchResults");
    resultsDiv.innerHTML = "";

    if (listings.length === 0) {
        resultsDiv.innerHTML = "<p>No results found.</p>";
        return;
    }

    listings.forEach(listing => {
        let div = document.createElement("div");
        div.innerHTML = `<h3>${listing.title}</h3><p>${listing.description}</p>`;
        resultsDiv.appendChild(div);
    });
}


</script>




