<% (layout("/layouts/boilerplate")) %>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <br>
      <h3>Create a New Listing</h3>
      <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="listing[title]" placeholder="enter title" class="form-control" required>
          <div class="valid-feedback">Title looks good</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea type="text" name="listing[description]" placeholder="enter description" class="form-control"
            required></textarea>
          <div class="invalid-feedback">Enter a short valid description</div>

        </div>
        <div class="mb-3">
          <label for="image" class="form-label"> Upload Listing Image</label>
          <input type="file" name="listing[image]" class="form-control" required>
          
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input name="listing[price]" placeholder="enter price" class="form-control" required>
            <div class="invalid-feedback">Price should be valid </div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="enter country" class="form-control" required>
            <div class="invalid-feedback">Country should be valid </div>
          </div>
        </div>


        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" placeholder="enter location" class="form-control" required>

          <div class="invalid-feedback">Location should be valid</div>

        </div>
        <!-- <div class="mb-3">
          <label for="category" class="form-label">category</label>
          <input type="text" name="listing[category]" placeholder="enter category" class="form-control" >
        </div> -->
        <div class="mb-3">
        <label for="category">Category:</label>
        <select class="form-control" id="category" name="listing[category]" required>
          <option value="Trendings">Trendings</option>
            <option value="Beach">Beach</option>
            <option value="Mountains">Mountains</option>
            <option value="City">City</option>
            <option value="Camping">Camping</option>
            <option value="Farm">Farm</option>
            <option value="Domes">Domes</option>
            <option value="Arctic">Arctic</option>
            <option value="Boats">Boats</option>
            <option value="Iconic cities"> Iconic cities</option>
            <option value=" Rooms"> Rooms</option>
            <option value="Amazing pools">Amazing pools</option>
        </select>
      </div>


        <button class="btn btn-dark add-btn mt-3"> Add</button>
        <br><br>
      </form>
    </div>

  </div>